<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/adminPage.scss" type="text/css">
    <link rel="stylesheet" href="/adminPage.css">
    <title>ParkWell | Admin Account</title>
</head>
<body>
    <div class="header">
        <nav class="navbar">
            <a href="#" class="navbar-brand">ParkWell</a>
        </nav>
    </div>
    <div class="main">
        <div class="workarea">
            <div class="login-img">
                <h3 class="text-center font-weight-bold">Welcome Back!</h3>
                <h4 class="text-center">Please Log into your Account</h4>
            </div>
            <div class="login-card">
                <form action="#" method="post" class="form-group">
                    <input type="text" name="uname" id="username" class="form-control" placeholder="Username">
                    <input type="password" name="pwd" id="password" placeholder="password" class="form-control">
                    <input type="button" value="Submit" class="btn">
                    <a href="#" class="text-decoration-none">Forgot Password</a>
                    <a href="#" class="text-decoration-none">Create New Account</a>
                </form>
            </div>
        </div>
    </div>
    {{!-- jquery cdn for bootstrap starts --}}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {{!-- jquery cdn for bootstrap ends --}}
</body>
</html>