<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/landingPage.scss" type="text/css">
    <link rel="stylesheet" href="/landingPage.css">
    <title>Crypt.Op</title>
</head>
<body>
<section class="home" id="home">
    <div class="header">
        <nav class="navbar navbar-expand-sm">
           <a href="#" class="navbar-brand">Crypt.Op</a>
           <button class="navbar-toggler" data-toggle="collapse" data-target="#navMenu">
               <span class="navbar-toggler-icon"></span>
           </button>
            <div class="collapse navbar-collapse" id="navMenu">
                <ul class="navbar-nav ml-auto" >
                    <li class="nav-item active-link">
                        <a href="#home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contactUs" class="nav-link">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logIn" class="nav-link">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5">
                Analytic tool for Cryptocurrencies.
                Get all insights and news of Cryptoworld at one stop.
            </h1>
            <p class="lead text-center">
                <a href="/signUp" class="signup-btn btn btn-lg text-uppercase" role="button">Sign Up</a>
            </p>
        </div>
    </div>
    <div class="crypto-logos">
        <div class="cryptocoin-logo">
            <img src="/Cryptocoin_logos/bitcoin-logo.png" alt="bitcoin">
            <p class="text-center mt-2">Bitcoin</p>
        </div>
        <div class="cryptocoin-logo">
            <img src="/Cryptocoin_logos/ethereum-logo.png" alt="ethereum">
            <p class="text-center mt-2">Ethereum</p>
        </div>
        <div class="cryptocoin-logo">
            <img src="/Cryptocoin_logos/dogecoin-logo.png" alt="dogecoin">
            <p class="text-center mt-2">Dogecoin</p>
        </div>
        <div class="cryptocoin-logo">
            <img src="/Cryptocoin_logos/binance-coin-bnb-logo.png" alt="binance">
            <p class="text-center mt-2">Binanace</p>
        </div>
        <div class="cryptocoin-logo">
            <img src="/Cryptocoin_logos/polygon-matic-logo.png" alt="polygon-matic">
            <p class="text-center mt-2">Polygon-matic</p>
        </div>
        <div class="cryptocoin-logo">
            <img src="/Cryptocoin_logos/tether-usdt-logo.png" alt="tether">
            <p class="text-center mt-2">Tether</p>
        </div>
    </div>
</section>
<section class="about" id="about">
    <div class="about-page">
        <div class="cards card-1">
            <img src="/About_icons/equalizer.png" alt="equalizer">
            <p>Categorised data according to your requirement and get accurate cryptocurrency market trends. </p>
        </div>
        <div class="cards card-2">
            <img src="/About_icons/graph.png" alt="graph">
            <p>Get the cryptocurrency market data with charts by your selected time slot.</p>
        </div>
         <div class="cards card-3">
            <img src="/About_icons/trust.png" alt="trust">
            <p>Get the most trusted cryptocurrency market data provider in the industry.</p>
        </div>
    </div>
    <div class="api-info">
        <img src="/About_icons/api.png" alt="api">
        <p>We are using <a href="#">Coin Market Cap</a> API to get most secure and trusted crypto market data.</p>
    </div>
</section>
<section class="contactUs" id="contactUs">
    <div class="container">
        <div class="card-title"><h3 class="text-center">Contact Us</h3></div>
        <div class="contact-card">
            <form action="#" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" name="username" id="uname" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="usermail" id="umail" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="message">Your Message</label>
                    <textarea class="form-control" name="usermessage" id="umessage" cols="30" rows="7" placeholder="Type Message here"></textarea>
                </div>
                <input type="button" value="Send" class="btn mb-2">
            </form>
        </div>
    </div>
</section>
{{!-- <div class="footer">
    <h4 class="footerText">By Crypt.Op</h4>
</div> --}}

    {{!-- script strats --}}
    <script src="landingPage.js"></script>
    {{!-- jquery cdn for bootstrap starts --}}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {{!-- jquery cdn for bootstrap ends --}}
</body>
</html>