$nav-color:#ffffff;
$body-color:#f8f9fa;
$btn-color:#17a2b8;
$gray-dark-font:#343a40;
$gray-normal-font:#6c757d;
$box-shadow:#e1e5ea;
$nav-links:#313c47;
$button-hover-color:#196570;
$crypto-names:#b2b2b2;
body{
    font-family: "montserrat";
    background-color: $body-color;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}
.navbar
{
    width:100%;
    background-color:$nav-color;
    height:70px;
    position: fixed;
    z-index: 1;
    filter: drop-shadow(1px 2px 1px $box-shadow);
    .navbar-brand
    {
        color:black;
        font-size: 24px;
        outline:none;
    }
    .nav-link
    {
        color:$nav-links;
        text-transform: uppercase;
    }
}
.page
{
    padding-top: 80px;
    .work-area
    {
        margin-top: 50px;
        h3{
            letter-spacing: 2px;
        }
    }
    .stats
    {
        margin:0px 70px;
        background-color: white;
        filter: drop-shadow(2px 2px 2px $box-shadow);
        border-radius: 10px;
        border: 3px solid white;
    }
}
.wrap{
    margin:0px 150px;
    .form-group
    {
        width:100%;
        position: relative;
        display:flex;
        flex-direction: row;
        border: 3px solid $btn-color;
        border-radius: 8px;
        .form-control
        {
            width:100%;
            border: none;
        }
        .searchBtn
        {
            //border: 3px solid $btn-color;
            //border-left:none;
            background-color: $btn-color;
            color:white;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
        .searchBtn:hover
        {
            background-color: $button-hover-color;
        }
    }
    .form-group:hover
    {
        border-color: $button-hover-color;
    }
}
table{
    tbody{
        tr{
            td{
               font-weight: 500;
               a
               {
                    text-decoration: none;
               } 
            }
        }
    }
}

