$nav-color:#ffffff;
$body-color:#f8f9fa;
$btn-color:#17a2b8;
$gray-dark-font:#343a40;
$gray-normal-font:#6c757d;
$box-shadow:#e1e5ea;
$nav-links:#313c47;
$button-hover-color:#196570;
$crypto-names:#b2b2b2;
body{
    font-family: "montserrat";
    background-color: $body-color;
}
.navbar
{
    width:100%;
    background-color:$nav-color;
    height:70px;
    position: fixed;
    z-index: 1;
    filter: drop-shadow(1px 2px 1px $box-shadow);
    .navbar-brand
    {
        color:black;
        font-size: 24px;
        outline:none;
    }
    .nav-link
    {
        color:$nav-links;
        text-transform: uppercase;
        outline: none;
    }
}
.main
{
    padding-top: 30px;
    .signup-card
    {
        margin:150px;
        display:flex;
        align-items: center;
        justify-content: center;
        column-gap: 100px;
        background-color: #ffffff;
        border: 3px solid $box-shadow;
        filter: drop-shadow(2px 2px 2px $box-shadow);
        border-radius: 10px;
        padding: 30px;
        .form-group
        {
            .form-control
            {
                width:550px;
                height: 50px;
                border-radius: 10px;
            }
            .btn
            {
                background-color: $btn-color;
                color:white;
            }
            .btn:hover
            {
                background-color: $button-hover-color;
            }
        }
        a
        {
            color:$gray-normal-font;
        }
        a:hover{
            color:$gray-dark-font;
            font-weight: bold;
            text-decoration: none;
        }
        .card-title
        {
            h4
            {
                font-weight: normal;
            }
        }
    }   
}
.validation
{
    width:550px;
}